<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="text-box" style="height: 60%;">
    <h1>Digital Positivity Journal</h1>
    <h2>Welcome to your journal!</h2>
    <p style="margin: 4%;">We hope your day is going well! Please add a quick entry in this journal that summarizes your day. Our goal is to keep track of how you felt about the days and support you accordingly.<br>You can see how you felt so far by clicking the "View History" button. You can change your account details by clicking on "Account Info." Feel free to logout when you are done.<br>We hope to see you again! </p>
    <div style="display: inline-flex;">
        <form action="/new_entry">
            <input type="submit" value="New Entry" class="login-btn" style="margin: 20px;"/>
        </form>
        <form action="/view_history">
            <input type="submit" value="View History" class="login-btn" style="margin: 20px;"/>
        </form>
        <form action="/acc_info">
            <input type="submit" value="Account Info" class="login-btn" style="margin: 20px;"/>
        </form>
        <form action="/">
            <input type="submit" value="Logout" class="login-btn" style="margin: 20px;"/>
        </form>
    </div>
</div>
</body>
</html>