<h1>Welcome Back!</h1>

<form action="/new_entry">
    <input type="submit" value="New Entry" />
</form>

<form action="/view_history">
    <input type="submit" value="View History" />
</form>

<form action="/acc_info">
    <input type="submit" value="Account Info" />
</form>

<form action="/">
    <input type="submit" value="Logout" />
</form>