<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Created</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="text-box" style="top: 30%;">
        <h1>Digital Positivity Journal</h1>
        <h2>Congratulations!<br>You have joined this positivity spreading community.<br>Please login with these credentials.</h2>
        <form action="/">
            <input type="submit" value="Go to Login" class="login-btn" style="margin: 20px;"/>
        </form>
    </div>
  </body>
</html>
