<h1>Time to create a new entry!</h1>

<form method="post" action="/new_entry">
  <p>
    <label for="message">Message:</label>
    <input type="text" name="message" id="message">
  </p>
  <p>
    <label for="sentiment">Positive/Negative:</label>
    <input type="text" name="sentiment" id="sentiment">
  </p>
  <p>
    <label for="date">Date (MM/DD/YYYY):</label>
    <input type="text" name="date" id="date">
  </p>
  <p>
    <input type="submit" value="Create new entry">
  </p>
</form>

<form action="/home">
    <input type="submit" value="Go to home" />
</form>
