<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Username Exists</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="text-box" style="top: 20%;">
            <h1>Digital Positivity Journal</h1>
            <h2>Unfortunately, this username already exists.<br>Please pick another one.</h2> 
            <form action="/">
                <input type="submit" value="Go to Login" class="login-btn" style="margin: 20px;"/>
            </form>
        </div>
    </body>
</html>
