<!-- Refer to implementation.md -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>History</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="text-box">
    <h1>Digital Positivity Journal</h1>
    <h2>Past Messages</h2>
    <p style="margin:0%;">Here's your diary where you can see all the entries you have logged in this journal.<br>You can also see how you felt about these past few days.</p>
    <ul>
    <%data.forEach(function(dat) {%>
    <p style="margin:0%; color:#A733EB">Message: <%= dat.message %></p>
    <p style="margin:0%; color:rgb(65, 71, 185)"">Sentiment: <%= dat.sentiment%></p>
    <p style="margin:0%; color:#cab91a"">Date: <%= dat.date%></p><br>
    <%});%>
  </ul>
 </body>

 <form action="/home">
    <input type="submit" value="Return Home" class="login-btn" style="margin: 20px;"/>
</form>

</div>
</html>